header {
    position: fixed;
    top: 0px;
    width: 100%;
    margin-top: 0px;
    background-color: var(--color-water-10);
  }
  
  .header_title {
    text-align: center;
    font-weight: bold;
  }